<div class="navbar navbar-custom navbar-inverse navbar-fixed-top navbar-inner">
	<div class="container">
		<a class="navbar-brand" href="/"><b>Pable</b></a>
			<button class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
				
				<div class="collapse navbar-collapse" id="navHeaderCollapse">
					<ul class="nav navbar-nav pull-left">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "Fresh", pins_path %></li>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "Contact Us", contact_path %></li>	
					</ul>
					
					<ul class="nav navbar-nav pull-right">
						<% if user_signed_in? %>
						<li class="share"><%= link_to "Share!", new_pin_path %></li>
						<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
						<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
						<% else %>
						<li><%= link_to "Login", new_user_session_path %></li>
						<% end %>
					</ul>


				</div>

	</div>
</div> 